*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI, sans-serif;
    background:#0f172a;
    color:#f1f5f9;
    line-height:1.6;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:20px;
}

.hero{
    text-align:center;
    padding:70px 20px;
}

.hero h1{
    font-size:3rem;
}

.subtitle{
    margin-top:10px;
    color:#94a3b8;
}

.contacts{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:#1e293b;
    padding:25px;
    margin-bottom:20px;
    border-radius:16px;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
}

.card h2{
    margin-bottom:15px;
    color:#38bdf8;
}

.company{
    color:#94a3b8;
    margin-bottom:10px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skills span{
    background:#334155;
    padding:8px 14px;
    border-radius:30px;
}

.project{
    margin-bottom:20px;
}

ul{
    padding-left:20px;
}

@media(max-width:768px){

    .hero h1{
        font-size:2rem;
    }

    .contacts{
        flex-direction:column;
        gap:10px;
    }
}